//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 15 17:12:32 2017
//! **************************************************************************

SCHEMATIC START;
COMP "CC_NB2P" LOCATE = SITE "K16" LEVEL 1;
COMP "A0_NB2P" LOCATE = SITE "J17" LEVEL 1;
COMP "P2PLAY_NP2B" LOCATE = SITE "P17" LEVEL 1;
COMP "AA" LOCATE = SITE "K1" LEVEL 1;
COMP "AB" LOCATE = SITE "F6" LEVEL 1;
COMP "AC" LOCATE = SITE "J2" LEVEL 1;
COMP "AD" LOCATE = SITE "G6" LEVEL 1;
COMP "AE" LOCATE = SITE "H4" LEVEL 1;
COMP "AF" LOCATE = SITE "H1" LEVEL 1;
COMP "AG" LOCATE = SITE "G1" LEVEL 1;
COMP "CLOCK_NP2B" LOCATE = SITE "E3" LEVEL 1;
COMP "RD2_NB2P" LOCATE = SITE "U17" LEVEL 1;
COMP "CG_NB2P" LOCATE = SITE "L18" LEVEL 1;
COMP "A4_NB2P" LOCATE = SITE "P14" LEVEL 1;
COMP "sw15" LOCATE = SITE "V10" LEVEL 1;
COMP "P2ADD_NP2B" LOCATE = SITE "J15" LEVEL 1;
COMP "CB_NB2P" LOCATE = SITE "R10" LEVEL 1;
COMP "ADD_NB2P" LOCATE = SITE "N14" LEVEL 1;
COMP "KEYINPOUT<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "KEYINPOUT<4>" LOCATE = SITE "E16" LEVEL 1;
COMP "KEYINPOUT<3>" LOCATE = SITE "H14" LEVEL 1;
COMP "KEYINPOUT<2>" LOCATE = SITE "G16" LEVEL 1;
COMP "KEYINPOUT<1>" LOCATE = SITE "F16" LEVEL 1;
COMP "KEYINPOUT<7>" LOCATE = SITE "H16" LEVEL 1;
COMP "KEYINPOUT<6>" LOCATE = SITE "G13" LEVEL 1;
COMP "KEYINPOUT<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "P2SEL0_NP2B" LOCATE = SITE "R17" LEVEL 1;
COMP "RD1_NB2P" LOCATE = SITE "V17" LEVEL 1;
COMP "CF_NB2P" LOCATE = SITE "T11" LEVEL 1;
COMP "A3_NB2P" LOCATE = SITE "J14" LEVEL 1;
COMP "STR2_NB2P" LOCATE = SITE "J13" LEVEL 1;
COMP "RESET_NP2B" LOCATE = SITE "P18" LEVEL 1;
COMP "P1PLAY_NP2B" LOCATE = SITE "M17" LEVEL 1;
COMP "CA_NB2P" LOCATE = SITE "T10" LEVEL 1;
COMP "P2SEL3_NP2B" LOCATE = SITE "R13" LEVEL 1;
COMP "A7_NB2P" LOCATE = SITE "U13" LEVEL 1;
COMP "RD0_NB2P" LOCATE = SITE "R18" LEVEL 1;
COMP "CE_NB2P" LOCATE = SITE "P15" LEVEL 1;
COMP "A2_NB2P" LOCATE = SITE "T9" LEVEL 1;
COMP "STR1_NB2P" LOCATE = SITE "K15" LEVEL 1;
COMP "P2SEL1_NP2B" LOCATE = SITE "T18" LEVEL 1;
COMP "DIGSEL" LOCATE = SITE "G3" LEVEL 1;
COMP "A6_NB2P" LOCATE = SITE "K2" LEVEL 1;
COMP "LED10" LOCATE = SITE "U14" LEVEL 1;
COMP "LED11" LOCATE = SITE "T16" LEVEL 1;
COMP "LED12" LOCATE = SITE "V15" LEVEL 1;
COMP "LED13" LOCATE = SITE "V14" LEVEL 1;
COMP "LED14" LOCATE = SITE "V12" LEVEL 1;
COMP "LED15" LOCATE = SITE "V11" LEVEL 1;
COMP "CD_NB2P" LOCATE = SITE "K13" LEVEL 1;
COMP "A1_NB2P" LOCATE = SITE "J18" LEVEL 1;
COMP "SHPTS_NP2B" LOCATE = SITE "M18" LEVEL 1;
COMP "STR0_NB2P" LOCATE = SITE "H17" LEVEL 1;
COMP "P2SEL2_NP2B" LOCATE = SITE "U18" LEVEL 1;
COMP "RD3_NB2P" LOCATE = SITE "U16" LEVEL 1;
COMP "A5_NB2P" LOCATE = SITE "T14" LEVEL 1;
COMP "LED8" LOCATE = SITE "V16" LEVEL 1;
COMP "LED9" LOCATE = SITE "T15" LEVEL 1;
SCHEMATIC END;

